<link rel="stylesheet" href="/stylesheets/custom.css">
<% layout('layouts/boilerplate') %>

<div class="clearfix logo2 mx-auto card">
    <class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  <div class="card-body quote-color font-italic">
    <p class="fst-italic fw-semibold">
        “[...] he made it a rule never to touch a book by any author who had not been dead at least 30 years.
    </p>
  
    <p class="fst-italic fw-semibold">
        "That's the only kind of book I can trust", he said.
    </p>
  
    <p class="fst-italic fw-semibold">
        "It's not that I don't believe in contemporary literature," he added, "but I don't want to waste valuable time reading any book that has not had the baptism of time. Life is too short.”
    </p>

    <p class="text-end">
        -Haruki Murakami, Norwegian Wood
    </p>
    </div>
</div>

<div class="clearfix logo2 mx-auto mt-3">
    <img src="/images/logo2.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
    <p class="lh-lg ">
        This website, based on the philosophy of Haruki Murakami's Norwegian Wood, offers a comprehensive list of literature from authors who have been deceased for at least 30 years. The website believes in the value of the "baptism of time" and carefully selects its literature offerings to provide a rich treasure trove of timeless works, appealing to both classic literature lovers and those seeking to expand their reading horizons. With its user-friendly format, this website is the ideal destination for anyone looking to delve into the best that classic literature has to offer.
    </p>
</div>