@media screen and (max-width: 767px) {
    .pagination li:not(.page-item.active):not(:first-child):not(:last-child) {
      display: none;
    }
    .pagination li.page-item:first-child,
    .pagination li.page-item:last-child,
    .pagination li.page-item.active,
    .pagination li.page-item.active ~ li,
    .pagination li.page-item.active ~ li:first-child,
    .pagination li.page-item.active ~ li:nth-child(2),
    .pagination li.page-item.active ~ li:last-child,
    .pagination li.page-item.active ~ li:nth-last-child(2) {
      display: block;
    }
}
  
.pagination li:not(.page-item.active):not(:first-child):not(:last-child) {
    display: none;
  }
  .pagination li.page-item:first-child,
  .pagination li.page-item:last-child,
  .pagination li.page-item.active,
  .pagination li.page-item.active ~ li,
  .pagination li.page-item.active ~ li:first-child,
  .pagination li.page-item.active ~ li:nth-child(2),
  .pagination li.page-item.active ~ li:nth-child(3),
  .pagination li.page-item.active ~ li:last-child,
  .pagination li.page-item.active ~ li:nth-last-child(2),
  .pagination li.page-item.active ~ li:nth-last-child(3) {
    display: block;
}
  
.gold-text {
    color: #FFD700;
}

.gold-text:hover {
    color: yellow;
}

.logo img {
    height: 50px !important;
    width: auto;
}

@media (max-width: 767px) {
    .logo2 img {
        display: none !important;
    }
}
.logo2 img {
    height: 300px;
    width: auto;
}

@media (max-width: 767px) {
    .clearfix {
        max-width: 100vw !important;
    }
}

.clearfix {
    max-width: 40vw;
}

.quote-color {
    background-color: #f8f4ec;
}

/*Scroll-Bar - Start*/
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 100px;
}
/*Scroll-Bar - End*/