.gold-text {
    color: #FFD700;
}

.gold-text:hover {
    color: yellow;
}

.logo img {
    height: 50px !important;
    width: auto;
}

/*Scroll-Bar - Start*/
body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 100px;
}
/*Scroll-Bar - End*/
